# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds
dist/
build/

# Env / DB
.env
.env.*.local
backend/.env
frontend/.env
backend/src/prisma/*.db

# Logs
*.log

# Editor
.DS_Store
*.swp
*.swo
.idea/
.vscode/
